.hidden {
	display: none;
}

body {
	font-family: arial, helvetica, sans-serif;
}

h1 {
	font-size: 2em;
	text-align: center;
}

#options {
	float: left;
}

#container {
	height: auto;
	width: 960px;
	margin: auto;
	background-color: #f00;
	line-height: 0;
}

.square {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	border: solid 1px #000;
}

.colored {
	background-color: #f00;
}